* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'vazir-light';
    src: url('/fonts/Vazir-Light-FD.eot');
    src: url('/fonts/Vazir-Light-FD.woff') format('woff'),
    url('/fonts/Vazir-Light-FD.ttf') format('truetype');
}

@font-face {
    font-family: 'vazir-medium';
    src: url('/fonts/Vazir-Medium-FD.eot');
    src: url('/fonts/Vazir-Medium-FD.woff') format('woff'),
    url('/fonts/Vazir-Medium-FD.ttf') format('truetype');
}

@font-face {
    font-family: 'vazir-black';
    src: url('/fonts/Vazir-Black-FD.eot');
    src: url('/fonts/Vazir-Black-FD.woff') format('woff'),
    url('/fonts/Vazir-Black-FD.ttf') format('truetype');
}

@font-face {
    font-family: 'vazir-bold';
    src: url('/fonts/Vazir-Bold-FD.eot');
    src: url('/fonts/Vazir-Bold-FD.woff') format('woff'),
    url('/fonts/Vazir-Bold-FD.ttf') format('truetype');
}

@font-face {
    font-family: 'vazir-Thin';
    src: url('/fonts/Vazir-Thin-FD.eot');
    src: url('/fonts/Vazir-Thin-FD.woff') format('woff'),
    url('/fonts/Vazir-Thin-FD.ttf') format('truetype');
}
body{
    background:#000000;
}

.container{
    width: 1280px;
    margin: auto;
    height: 100%;
}
.header{
    width: 100%;
    float: right;
    background: url("/images/Section1.jpg");
    background-size: 100%;
    padding: 27px;
}

.logo{
    width:230px;
    float: right;
}
.logo img{
    width: 100%;
    float: right;
}
.info{
    width: 550px;
    float: left;
}
.text-header{
    font-size:18px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    font-family: vazir-light;
    margin-right: 20px;
    cursor: pointer;

}
.Av-application{
    width: 100%;
    float: right;
    margin-top: 200px;
    text-align: right;
}
.Av{
    width: 100%;
    float: right;
    text-align: right;
    color: #FFFFFF;
    font-size: 85px;
    font-family: vazir-medium;
}
.info-Av{
    width: 100%;
    float: right;
    text-align: right;
    color: #FFFFFF;
    font-size: 25px;
    font-family: vazir-light;
}
.test-btn{
    width: 250px;
    height: 50px;
    float: right;
    background: #FF6868;
    padding-top: 12px;
    margin:30px 50px 254px 0;
    border-radius: 100px;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.26);


}
.test-btn a{
    width:100%;
    float: right;
    text-align: center;
    color: #FFFFFF;
    font-size: 18px;
    font-family: vazir-light;
    text-decoration: none;

}
.content{
    width: 100%;
    float: right;
    background: url("/images/Section2.jpg");
    background-size:100%;
    background-repeat: no-repeat;
    padding: 140px 0 0 150px;
}
.Av-content{
    width: 40%;
    float: left;

}
.benefits-Av {
    width: 100%;
    float: right;
    text-align: center;
    color: #FF6868;
    font-size: 64px;
    font-family: vazir-bold;
    display: block;
}
.benefits-Av.title{
    width: 100%;
    float: right;
    text-align: right;
    color:#FF6868;
    font-size: 24px;
    font-family: vazir-medium;
    direction: rtl;
}
.about-Av{
    width: 100%;
    float:right;
    display: block;
    text-align:right;
    color: #FFFFFF;
    font-size: 24px;
    font-family:vazir-light;
    margin-top: 10px;
    direction: rtl;

}
.about-one{
    width: 100%;
    float: right;
    text-align: center;
    font-size: 24px;
    color: #CCCCCC;
    font-family:'vazir-Thin';
    direction: rtl;
    padding-top: 5px;


}
.about.two{
    width: 100%;
    float: right;
    text-align: right;
    font-size: 15px;
    color: #CCCCCC;
    font-family:'vazir-Thin';
    direction: rtl;
    padding-top: 5px;
}
.img-mobile{
    width: 32%;
    float: left;
    margin-top:13.5%;
    padding-right: 2%;
    margin-bottom: 30px;
}
.img-mobile img{
    width: 100%;
    float: left;
}
.information-Av{
    width: 100%;
    float: right;
    background: #48494D;
}
.logo-img{
    width: 40%;
    float: right;
    padding-top: 264px;
}
.logo-img img{
    width: 100%;
    float: right;
    margin-bottom: 160px;
}
.information.one{
    width: 50%;
    float: right;
    direction: rtl;
    margin-right: 50px;
    padding-top: 184px;
}
.information.two{
    width: 50%;
    float: right;
    direction: rtl;
    margin-right: 50px;
    margin-top: 90px;
}
.address{
    width: 100%;
    float: right;
    margin-top: 10px;
}
.title-information{
    width: 100%;
    float: right;
    color: #FF6868;
    font-size: 64px;
    font-family: vazir-medium;
}
.title2{
    width: 100%;
    float: right;
    color: #FFFFFF;
    font-size: 24px;
    font-family: vazir-medium;
}
.about{
    text-align: right;
    color: #CCCCCC;
    font-size: 15px;
    font-family:'vazir-Thin';
}
.options{
    width: 100%;
    float: right;
    background: url("images/section4.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 207px 90px 0 0 ;

}
.title-div{
    width:100%;
    float: right;
    text-align: right;
}
.options-title{
    font-size: 60px;
    color: #FF6868;
    font-family: vazir-medium;
}
.numbers{
    font-size: 23px;
    text-align: right;
    color: #FFFFFF;
    font-family: vazir-Thin;
    margin-bottom: 120px;
    list-style: white;
    direction: rtl;

}
ol {
    list-style: none;
    counter-reset: my-awesome-counter;
}
li {
    counter-increment: my-awesome-counter;

}
li::before {
    content: counter(my-awesome-counter);
    background: #FFFFFF;
    font-size: 20px;
    width: 2rem;
    height: 2rem;
    font-family: vazir-bold;
    border-radius: 10px;
    border-radius: 10px;
    display: inline-block;
    line-height: 2rem;
    color: black;
    text-align: center;
    margin-left: 10px;
    margin-top: 25px;
}
.application-download{
    width: 100%;
    float: right;
    background: url("/images/section5.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 150px 0 0 50px;
}
.div-application{
    width: 50%;
    float: left;
}
.logo-application{
    width: 100%;
    float: right;
}
.logo-application img{
    width: 181px;
    height: 181px;
    float: right;
    margin-right: 215px;
}
.logo-application span{
    width: 100%;
    float: right;
    font-size: 25px;
    font-family: vazir-medium;
    text-align: center;
    color: #FFFFFF;
}
.links span{
    width: 100%;
    float: right;
    font-size: 36px;
    text-align: center;
    color: #FFFFFF;
    font-family: vazir-medium;
    margin-top: 20px;
}
.app-img{
    width: 100%;
    float: right;
    margin: 30px 80px 200px 0;

}
.links img{
    width: 32%;
    float: right;
    margin-right: 20px;
}
.swal-text{
    font-family: vazir-medium;
    color: #FF6868;
    font-size: 20px;
    direction: rtl;
}
.swal-button{
    text-align: center;
    float: right;
    margin-right: 180px;
    background: #48494D;
}
.swal-button:not([disabled]):hover {
    background-color: #FF6868;
}
.cafe-bazaar{
    cursor: pointer;
}
.last-page{
    width: 100%;
    float: right;
    background: url("/images/section6.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 60px 200px 0 200px;
}
.right{
    width: 50%;
    float: right;
    margin-right: 65px;
}
.right span{
    width: 100%;
    float: right;
    font-size: 50px;
    font-family: vazir-light;
    text-align: center;
    color: #FFFFFF;
    padding-top: 78px;

}
.right div{
    width: 268px;
    height: 50px;
    float: right;
    background: #2D2E30;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.26);
    color: #FFFFFF;
    padding-top: 5px;
    text-align: center;
    font-size: 24px;
    font-family: vazir-light;
    border-radius: 100px;
    border-radius: 30px;
    margin:20px 70px 0 0;
}
.left{
    width: 40%;
    float: right;
    margin-bottom: 60px;

}
.left img{
    width: 80%;
    float: right;
    margin-right: 70px;
}
.footer {
    width: 100%;
    float: right;
    background: url("/images/Av-footer.png");
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 50px;
}
.footer-information{
    width: 20%;
    float: right;
}
.f-logo{
    width: 100%;
    float: right;
}
.footer-information.one span{
    width: 100%;
    float: right;
    text-align:center;
    direction: rtl;
    color: #CCCCCC;
    font-size: 18px;
    font-family: vazir-light;
    padding-top: 20px;
}
.social-media{
    width: 100%;
    float: right;
}
.social-media img{
    float: right;
    margin:15px 20px 0 0;
    cursor: pointer;
}
.f-div{
    width: 100%;
    float: right;
    margin-right: 30px;
}
.f-div a{
    float: right;
    font-size: 15px;
    text-align: right;
    color: #CCCCCC;
    font-family: vazir-light;
    text-decoration: none;
    direction: rtl;
    margin-top: 5px;
}
.footer-information.five img{
    width:50%;
    float: right;
    margin-right: 25%;
}
.footer-information.five span{
    width: 100%;
    float: right;
    color: #CCCCCC;
    font-size: 17px;
    text-align: center;
    font-family: vazir-light;
    margin-top: 10px;
}
.footer-information.two{
    margin-top: 75px;
}
.footer-information.three{
    margin-top: 75px;
}
.footer-information.four{
    margin-top: 75px;
}
.div-benefits-Av{
    width: 60%;
    float: left;
    margin-top: 60px;
    margin-bottom: 45px;
}
.div-benefits-Av.specialists{
    margin-bottom: 50px;
}
.header.coach{
    position: relative;
    background:url("/images/sectionex1.jpg");
    background-repeat:no-repeat;
    background-size: 100%;

}
.header.experts{
    background: url("/images/sectionex2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
.header.specialists{
    background: url("/images/sectionex3.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
.download-coach-app{
    margin-top:0%;
    margin-right: 60%;
    width: 250px;
    height: 50px;
    float: right;
    background: #FF6868;
    padding-top: 12px;
    border-radius: 100px;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.26);

    text-align: center;
    color: #FFFFFF;
    font-size:18px;
    font-family: vazir-light;
    text-decoration: none
}
.download-coach-app a{
    width: 100%;
    float: right;
    text-align: center;
    color: #FFFFFF;
    font-size:18px;
    font-family: vazir-light;
    text-decoration: none ;
}